<div class="container">
    <div style=" background-color:#fcfdff ; width:50% ; margin:auto ; margin-top: 5em; align-items: center;">
          <div style="margin:auto" class="col-8">
             <h1>Forget Password</h1>

                <div class=" form-group" style="margin-top: 1em;">
                    <input [(ngModel)]="user.email"  placeholder="Email" class="form-control">
                </div>

                <div class="form-group" style="margin-top: 1em;">
                    <button (click)="recover()" class="btn btn-primary">Forget Password</button>
                </div>
                </div>
         </div>
  
  </div>




